<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./vars.css" />
    <link rel="stylesheet" href="./style.css" />

    <style>
      a,
      button,
      input,
      select,
      h1,
      h2,
      h3,
      h4,
      h5,
      * {
        margin: 0;
        padding: 0;
        border: none;
        text-decoration: none;
        appearance: none;
        background: none;

        -webkit-font-smoothing: antialiased;
      }
    </style>
    <title>Document</title>
  </head>
  <body>
    <div class="modal-create-board">
      <div class="title">
        <div class="create-board">Create Board</div>
        <svg
          class="close"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <g clip-path="url(#clip0_1_32670)">
            <path
              d="M15.8225 8.18354C15.5859 7.94691 15.2036 7.94691 14.967 8.18354L12 11.1445L9.03299 8.17747C8.79636 7.94084 8.41411 7.94084 8.17747 8.17747C7.94084 8.41411 7.94084 8.79636 8.17747 9.03299L11.1445 12L8.17747 14.967C7.94084 15.2036 7.94084 15.5859 8.17747 15.8225C8.41411 16.0592 8.79636 16.0592 9.03299 15.8225L12 12.8555L14.967 15.8225C15.2036 16.0592 15.5859 16.0592 15.8225 15.8225C16.0592 15.5859 16.0592 15.2036 15.8225 14.967L12.8555 12L15.8225 9.03299C16.0531 8.80243 16.0531 8.41411 15.8225 8.18354Z"
              fill="#E9E9E9"
            />
          </g>
          <defs>
            <clipPath id="clip0_1_32670">
              <rect width="24" height="24" fill="white" />
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="contents">
        <div class="color-list">
          <div class="background">Background</div>
          <div class="color-list2">
            <div class="rectangle-6"></div>
            <div class="rectangle-14"></div>
            <div class="rectangle-15"></div>
            <div class="rectangle-13"></div>
            <div class="rectangle-12"></div>
          </div>
          <div class="btn-more">
            <svg
              class="more-horiz"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <g clip-path="url(#clip0_1_32693)">
                <path
                  d="M6 10C4.9 10 4 10.9 4 12C4 13.1 4.9 14 6 14C7.1 14 8 13.1 8 12C8 10.9 7.1 10 6 10ZM18 10C16.9 10 16 10.9 16 12C16 13.1 16.9 14 18 14C19.1 14 20 13.1 20 12C20 10.9 19.1 10 18 10ZM12 10C10.9 10 10 10.9 10 12C10 13.1 10.9 14 12 14C13.1 14 14 13.1 14 12C14 10.9 13.1 10 12 10Z"
                  fill="#E9E9E9"
                />
              </g>
              <defs>
                <clipPath id="clip0_1_32693">
                  <rect width="24" height="24" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </div>
        </div>
        <div class="title-input">
          <div class="board-title">Board Title</div>
          <div class="input">
            <div class="div">ㅣ</div>
          </div>
        </div>
      </div>
      <div class="btn-create">
        <div class="create">Create</div>
      </div>
    </div>
  </body>
</html>
